.form{
  position: relative;
    left: -110px;
    top: 20px;
    width: 340px;
    height: 92px;
}
.for{
  position: relative;
    top: -120px;
    left: -110px;
    font-size: 20px;
    color: white;
}
