.u-topic__img {
   margin-top: -220px;
   &__second{
     margin-top: -100px;
     margin-bottom: -200px;
     @include mq(){
       display: flex;
       width:100%;
       position: relative;
       top: 150px;
     }
   }
   @include mq(){
     display: flex;
     width:100%;
     margin-top: -300px;
   }
 }
.u-concept__img{
  margin-bottom: 240px;
  margin-top: -50px;
  @include mq(){
    width: 100%;
    margin-top: -200px;
  }
}
.u-service__img{
  isplay: flex;
  position: relative;
  top: -120px;
  left: 40px;
  @include mq(){
    width: 100%;
    position: relative;
    top: 20px;
    left: 0;
    margin-bottom: 60px;
  }
}
.img{
  width:100%;
}
.gazou{
  margin-top:-150px;
  @include mq(){
    display: flex;
    width:100%;
  }
}
.map{
  margin-top: 50px;
    margin-bottom: 90px;
    position: relative;
    left: -200px;
    @include mq(){
      width:170vw;
    }
}
.nine{
  position: relative;
    top: 50px;
    left: -10px;
}
.deji{
  position: relative;
    top: 30px;
    left: 20px;
}
.back{
  height: 200px;
  position: relative;
  top: 10px;
  left: 55px;
  background: #f0ebaf;
  box-sizing: border-box;
  padding-right: 60px;
}
.insta{
  position: relative;
  top: 300px;
  left: -500px;
  @include mq{
    position: relative;
    top: 0px;
    left: 200px;
  }
}
.insta-url{
  position: relative;
    top: 90px;
    left: -100px;
    @include mq{
      position: relative;
    top: 10px;
    left: 100px;
    }
}
.homebase{
  color: rgba(173, 117, 8, 0.87);
    position: relative;
    top: -00px;
    left: 20px;
}
.insta_sub{
  position: relative;
  top: 230px;
  @include mq{
    position: relative;
    top: 700px;
  }
}
.shape2{
  position: relative;
    left: 1110px;
    top: 85px;
    bottom: -10px;
}
.shape3{
  position: relative;
    left: 1211px;
    bottom: -8px;
}
.eigyo {
    position: relative;
    top: 120px;
    left: 10px;
    font-size: 14px;
}
