.contact{
  position: relative;
    top: 60px;
    position: relative;
    top: -230px;
    left: 336px;
    @include mq(){
      position: relative;
      left: 65px;
      width: 70vw;
      height: 13vh;
    }
  }
.span{
    display: block;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top:-100px;
    @include mq(){
      position: relative;
      top: -20px;
      left: 30px;
    }
    &__sub{
      font-size: 12px;
      position: relative;
      left: -160px;
      top:-23px;
      display: block;
  }
}
